:root {
    --gray: #3C3C3C;
    --gray-light: #585858;
    --green: #34571a;
    --transi_time: 0.2s;
    --transi-scale: 1.03;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.banniere {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.b_commander {
    border-radius: 10px;
    border: 2px solid;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: 5em;
    padding: 10px 10px;
    font-size: 1.1em;
    background-color: var(--gray);
    transition: all var(--transi_time) ease;
}

.b_commander:hover {
    transform: scale(var(--transi-scale));
    background-color: var(--gray-light);
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 2em;
    transition: all var(--transi_time) ease;
    filter: brightness(120%);
}

.logo:hover {
    filter: brightness(100%);
}

.titre {
    margin-left: 0.5em;
    color: var(--gray);
    font-size: 1.7em;
    font-weight: 600;
}

.facebook-icon, .mail-icon {
    color: var(--gray);
    margin-left: 2em;
    font-size: 1.5em;
    padding: 10px;
    transition: all var(--transi_time) ease;
}

.mail-icon:hover {
    transform: scale(var(--transi-scale));
    color: var(--gray-light);
}

.facebook-icon:hover {
    transform: scale(var(--transi-scale));
    color: var(--gray-light);
}

#langue {
    margin-left: 3em;
    font-size: 1em;
    border: 2px solid;
    padding: 4px;
    color: var(--gray);
    appearance: auto;
    border-radius: 10px;
}


.page {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.img-composition {
    max-width: 60%;
    height: auto;
    margin-top: 50px;
    border-radius: 20px;
    transition: all var(--transi_time) ease;
}

.img-composition:hover {
    transform: scale(1.01);
}

.intro {
    width: 100%;
    background-image: url("images/legumes.jpg");
    align-items: center;
    justify-content: center;
    display: flex;
    background-position: center 80%;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: 100%;
    transition: background-size 0.3s ease;
}

.intro:hover {
    background-size: 103%;
}

.txt-intro {
    color: white;
    width: 60%;
}

.par {
    font-size: 1.3em;
}

.pied {
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
    font-weight: 500;
}

.hp-lien {
    text-decoration: none;
    color: var(--gray);
    transition: all var(--transi_time) ease;
}

.hp-lien:hover {
    color: var(--gray-light);
}

.menu li {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.menu li:hover .submenu {
    display: block;
}


.txt-tuto {
    margin-top: 50px;
    border-radius: 20px;
    width: 60%;
    background-color: white;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 3em;
}

.screenshot {
    width: 30%;
    height: auto;
    border-radius: 15px;
    border: 3px solid var(--gray);
}

.txt-tuto ol {
    list-style-position: inside;
    margin-top: 0;
}

.txt-tuto li {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 1.1em;
    color: var(--gray);
}

.txt-tuto img {
    display: block;
    margin: 0.5rem 0 1.5rem;
}

.app {
    display: flex;
    gap: 1rem;
}

.ol-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 50px;
    color: var(--gray);
}

.lydia-logo {
    height: 3rem;
}

.store {
    height: 3rem;
    transition: all var(--transi_time) ease;
    border-radius: 10px;
    background-color: white;
}

.store:hover {
    transform: scale(var(--transi-scale));
}

.gras {
    font-weight: 800;
    color: black;
}

.warning {
    color: red;
    font-weight: 800;
}

.prix_rappel {
    margin-top: 1rem;
    font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
    .img-composition {
        max-width: 95%;
    }

    .titre {
        display: none;
    }

    .banniere {
        position: static;
        height: 75px;
        justify-content: left;

    }

    .logo {
        height: 70px;
        width: 70px;
        margin-left: 10px;
    }

    .facebook-icon, .mail-icon {
        margin-left: 0.5em;
    }

    #langue {
        margin-left: 0.5em;
    }

    .b_commander {
        margin-right: auto;
    }

    .page {
        padding-top: 75px;
        background-color: var(--green);
    }

    .intro {
        border-radius: 15px;
        max-width: 95%;
    }

    .txt-intro {
        font-size: 0.8em;
        width: 90%;
    }

    .pied {
        padding: 10px;
    }

    .txt-tuto {
        width: 95%;
        padding: 0;
    }

    .txt-tuto ol li {
        padding-left: 0.2rem;
        padding-right: 1rem;
    }

    .screenshot {
        height: 30rem;
        width: auto;
    }

    .store {
        width: 8rem;
        height: auto;
    }
}